<a href="https://colab.research.google.com/github/eliyanto29/Pusat-Studi-Data-Sains-UAD/blob/main/Modul_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mengenal DataFrame

DataFrame adalah struktur data berlabel 2 dimensi dengan kolom jenis yang berpotensi berbeda.

##Import Modul

In [ ]:
import pandas as pd
import numpy as np

##Membuat & Mengimpor DataFrame

In [ ]:
'''
import pandas as pd

data = {'First Column Name':  ['First value', 'Second value',...],
        'Second Column Name': ['First value', 'Second value',...],
         ....
        }

df = pd.DataFrame (data, columns = ['First Column Name','Second Column Name',...])

print (df)
'''

In [ ]:
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [ ]:
#Membuka DataFrame dari file csv
#df = pd.read_csv('')
df = pd.read_csv('https://raw.githubusercontent.com/eliyanto29/My-Academics-Paper-On-Data-Science/master/FCM-Core-and-Reduct/iris_dataset.csv')
#df = pd.read_csv('/content/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        3
146           6.3          2.5           5.0          1.9        3
147           6.5          3.0           5.2          2.0        3
148           6.2          3.4           5.4          2.3        3
149           5.9          3.0           5.1          1.8        3

[150 rows x 5 columns]

In [ ]:
#Membuka DataFrame dari file excel
#df = pd.read_excel('https://raw.githubusercontent.com/eliyanto29/My-Academics-Paper-On-Data-Science/master/FCM-Core-and-Reduct/iris_dataset.csv')
#df.head(10)

##Eksplorasi DataFrame

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        3
146           6.3          2.5           5.0          1.9        3
147           6.5          3.0           5.2          2.0        3
148           6.2          3.4           5.4          2.3        3
149           5.9          3.0           5.1          1.8        3

[150 rows x 5 columns]

In [ ]:
df.head(20)

    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2        1
1            4.9          3.0           1.4          0.2        1
2            4.7          3.2           1.3          0.2        1
3            4.6          3.1           1.5          0.2        1
4            5.0          3.6           1.4          0.2        1
5            5.4          3.9           1.7          0.4        1
6            4.6          3.4           1.4          0.3        1
7            5.0          3.4           1.5          0.2        1
8            4.4          2.9           1.4          0.2        1
9            4.9          3.1           1.5          0.1        1
10           5.4          3.7           1.5          0.2        1
11           4.8          3.4           1.6          0.2        1
12           4.8          3.0           1.4          0.1        1
13           4.3          3.0           1.1          0.1        1
14           5.8          4.0           1.2          0.2        1
15           5.7          4.4           1.5          0.4        1
16           5.4          3.9           1.3          0.4        1
17           5.1          3.5           1.4          0.3        1
18           5.7          3.8           1.7          0.3        1
19           5.1          3.8           1.5          0.3        1

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [ ]:
df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width  species
140           6.7          3.1           5.6          2.4        3
141           6.9          3.1           5.1          2.3        3
142           5.8          2.7           5.1          1.9        3
143           6.8          3.2           5.9          2.3        3
144           6.7          3.3           5.7          2.5        3
145           6.7          3.0           5.2          2.3        3
146           6.3          2.5           5.0          1.9        3
147           6.5          3.0           5.2          2.0        3
148           6.2          3.4           5.4          2.3        3
149           5.9          3.0           5.1          1.8        3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000

##Mengakses DataFrame

In [ ]:
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
df.petal_width

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [ ]:
df1=df[['petal_length','sepal_length']]
df1

     petal_length  sepal_length
0             1.4           5.1
1             1.4           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
145           5.2           6.7
146           5.0           6.3
147           5.2           6.5
148           5.4           6.2
149           5.1           5.9

[150 rows x 2 columns]

In [ ]:
df2=df[:5]
df2

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [ ]:
df3=df.iloc[:2,:2]
df3
#df.iloc[2:5,2:5]

#df.iloc[2::,2::]

#df.iloc[:-100,-1]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0

## Ekplorasi Part 2 DataFrame

In [ ]:
df.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [ ]:
df.species.count()

150

In [ ]:
df.species.value_counts()

3    50
2    50
1    50
Name: species, dtype: int64

##Slicing DataFrame

In [ ]:
df4=df[df['sepal_width']==3.0]
df4
#df[df['petal_length']==1.4]

     sepal_length  sepal_width  petal_length  petal_width  species
1             4.9          3.0           1.4          0.2        1
12            4.8          3.0           1.4          0.1        1
13            4.3          3.0           1.1          0.1        1
25            5.0          3.0           1.6          0.2        1
38            4.4          3.0           1.3          0.2        1
45            4.8          3.0           1.4          0.3        1
61            5.9          3.0           4.2          1.5        2
66            5.6          3.0           4.5          1.5        2
75            6.6          3.0           4.4          1.4        2
77            6.7          3.0           5.0          1.7        2
84            5.4          3.0           4.5          1.5        2
88            5.6          3.0           4.1          1.3        2
91            6.1          3.0           4.6          1.4        2
95            5.7          3.0           4.2          1.2        2
102           7.1          3.0           5.9          2.1        3
104           6.5          3.0           5.8          2.2        3
105           7.6          3.0           6.6          2.1        3
112           6.8          3.0           5.5          2.1        3
116           6.5          3.0           5.5          1.8        3
127           6.1          3.0           4.9          1.8        3
129           7.2          3.0           5.8          1.6        3
135           7.7          3.0           6.1          2.3        3
138           6.0          3.0           4.8          1.8        3
145           6.7          3.0           5.2          2.3        3
147           6.5          3.0           5.2          2.0        3
149           5.9          3.0           5.1          1.8        3

In [ ]:
df[(df['petal_length']==1.4) & (df['petal_width']==0.1)]

    sepal_length  sepal_width  petal_length  petal_width  species
12           4.8          3.0           1.4          0.1        1

In [ ]:
df.petal_length.mean()

3.7586666666666693

#Tugas Individu

'''

1. Tentukan Segment mana dengan profit tertinggi!
2. Tentukan Category mana dengan sales terbanyak!
3. Tentukan Sub-Category dengan quantity paling sedikit!

'''

In [ ]:
dataku=pd.read_csv('/content/Assessment R & Python_ Dataset_superstore_simple.csv')
dataku.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156  2016-11-08    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156  2016-11-08    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688  2016-06-12    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  2015-10-11    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  2015-10-11    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

In [ ]:
dataku.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [ ]:
dataku_Consumer=dataku[dataku['segment']=='Consumer']
dataku_Consumer

            order_id  order_date customer_id  ...     sales quantity    profit
0     CA-2016-152156  2016-11-08    CG-12520  ...  261.9600        2   41.9136
1     CA-2016-152156  2016-11-08    CG-12520  ...  731.9400        3  219.5820
3     US-2015-108966  2015-10-11    SO-20335  ...  957.5775        5 -383.0310
4     US-2015-108966  2015-10-11    SO-20335  ...   22.3680        2    2.5164
5     CA-2014-115812  2014-06-09    BH-11710  ...   48.8600        7   14.1694
...              ...         ...         ...  ...       ...      ...       ...
9983  CA-2014-110422  2014-01-21    TB-21400  ...   25.2480        3    4.1028
9984  CA-2017-121258  2017-02-26    DB-13060  ...   91.9600        2   15.6332
9985  CA-2017-121258  2017-02-26    DB-13060  ...  258.5760        2   19.3932
9986  CA-2017-121258  2017-02-26    DB-13060  ...   29.6000        4   13.3200
9987  CA-2017-119914  2017-05-04    CC-12220  ...  243.1600        2   72.9480

[5188 rows x 9 columns]

In [ ]:
dataku_Consumer.profit.sum()

128959.22080000001